<app-nav-bar></app-nav-bar>
<mat-drawer-container class="mat-drawer-container">
  <mat-drawer opened="true" mode="side" position="start" class="mat-drawer">
    <mat-nav-list>
      <!-- loading resumeList -->
      <ng-container *ngIf="loadingUserResumes === true; else resumeListLoaded">
        <div class="loading-message">Loading User Resumes...</div>
      </ng-container>
      <ng-template #resumeListLoaded>
        <!-- Check if resumeList is empty -->
        <ng-container
          *ngIf="resumeList && resumeList.length > 0; else emptyListTemplate"
        >
          <div *ngFor="let r of resumeList">
            <mat-list-item (click)="handleGetResumeById(r.id)">
              {{ r.request }}
            </mat-list-item>
            <mat-divider></mat-divider>
            <!-- Divider added here -->
          </div>
        </ng-container>

        <!-- Template to show if the list is empty -->
        <ng-template #emptyListTemplate>
          <div class="empty-list-message">
            <i class="bi bi-folder2-open"></i>
            <p>No resumes available</p>
          </div>
        </ng-template>
      </ng-template>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content class="mat-drawer-content">
    <!-- loading Generating resume -->
    <ng-container
      *ngIf="LoadingGeneratingResume === true; else generatingResumeLoaded"
    >
      <div class="loading-screen">
        <h1>Generating Your Resume...</h1>
        <p>Just a moment, we’re preparing your perfect resume.</p>

        <!-- Enlarged Skeleton Loader for Resumes -->
        <div class="skeleton-loader">
          <div *ngFor="let _ of [1, 2, 3]" class="skeleton-card">
            <div class="skeleton-text"></div>
            <div class="skeleton-text small"></div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #generatingResumeLoaded>
      <ng-template #noGenerated>
        <div class="no-generated-message">
          <div class="no-generated-message custom-message">
            <h1 class="fadeIn">Hello, {{ userName }}</h1>
            <strong class="fadeIn">Make your perfect resume in seconds.</strong>
          </div>
        </div>
      </ng-template>
      <div *ngIf="inGenerated === true; else noGenerated">
        <div
          style="padding-top: 10px; padding-left: 200px; padding-right: 290px"
        >
          <div class="nav">
            <span></span>
            <a class="btn btn-secondary" (click)="generatePDF()">
              <i class="bi bi-download"></i><span class="ms-2">Download</span>
            </a>
          </div>
        </div>
        <div *ngIf="style === 1; else noStyleOne">
          <app-resume-tmp-one [resume]="resume"></app-resume-tmp-one>
        </div>
        <ng-template #noStyleOne>
          <app-resume-tmp-two [resume]="resume"></app-resume-tmp-two>
        </ng-template>
      </div>
    </ng-template>

    <!-- Fixed input field -->
    <div class="custom-padding">
      <ng-template #noGeneratedb> </ng-template>
      <div class="nav mb-3" *ngIf="inGenerated === true; else noGeneratedb">
        <button
          class="btn btn-outline-secondary ms-2"
          [disabled]="style === 1"
          (click)="handleChangeResumeStyle(1)"
        >
          <i class="bi bi-eyedropper"></i><span class="ms-2">style one</span>
        </button>
        <button
          class="btn btn-outline-secondary ms-2"
          [disabled]="style === 2"
          (click)="handleChangeResumeStyle(2)"
        >
          <i class="bi bi-eyedropper"></i><span class="ms-2">style two</span>
        </button>

        <span style="flex: auto"></span>

        <button
          class="btn btn-secondary ms-2"
          [disabled]="ResumeSaved === true"
          (click)="handleSaveResume()"
        >
          <i class="bi bi-floppy-fill"></i><span class="ms-2">Save resume</span>
        </button>
        <button
          [disabled]="generatedResumeSaved === false"
          (click)="handleEditResume()"
          class="btn btn-secondary ms-2"
        >
          <i class="bi bi-pen-fill"></i><span class="ms-2">Edit resume</span>
        </button>
      </div>

      <!-- form search -->
      <form [formGroup]="searchFormGroup" (submit)="handleGenerateResume()">
        <div class="input-group">
          <textarea
            class="form-control"
            placeholder="Write Job Description"
            formControlName="keyword"
            rows="1"
          ></textarea>
          <button
            [disabled]="searchFormGroup.invalid || LoadingGeneratingResume"
            type="submit"
            class="btn custom-button"
          >
            Generate
          </button>
        </div>
      </form>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
